
* {
  box-sizing: border-box;
}

body {
  background: #ddd;
}

.container-fluid {
  max-width: 70em;
}

header {
  background: #222;
  color: #00d8ff;
  padding: 0.6em;
  a,a:hover,a:focus {
    color: inherit;
    text-decoration: none;
  } 
}

main {
  background: #fff;
  padding: 0.6em;
}

.card-list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
}

.card__item {
  border: 1px solid #eee;
  box-shadow: 0 0 5px #eee;
  min-height: 100px;
  flex: 20%;
}